<div class="app-footer flex justify-between">
  <div class="my-auto flex">
    <div class="my-auto px-4 text-center"></div>
    <div class="inline my-auto">
      <button size="mini" class="px-3 text-xs" type="text">2</button>
      <button size="mini" class="px-3 text-xs" type="text">3</button>
      <button size="mini" class="px-3 text-xs" type="text">4</button>
      <button size="mini" class="px-3 text-xs" type="text">5</button>
      <button size="mini" class="px-4" type="text">6</button>
    </div>
  </div>
  <div class="my-auto px-4 text-center">
    <img
      class="footer-logo inline-block"
      src="./assets/png/SCB_logo1.png"
      alt="SCB"
    />
    <label class="footer-logo-text text-gray-600 text-xs" for="footer-logo"
      >| 7
    </label>
  </div>
</div>
