<div class="errPage-container flex">
    <div class="page-content m-auto">
        <div class="img-container d-inline inline-block">
            <img src="./assets/404_images/404.png" alt="404 not found">
        </div>
        <div class="inline-block align-top">
            <div class="title">ERROR 404</div>
            <div class="content">
            </div>
            <div>
                <button class="btn-bg-color btn-text-color">Back</button>
            </div>
        </div>
    </div>
</div>