.errPage-container {
    background-color: #242a38;
    height: 100vh;
}

.page-content {
    max-width: 800px;
    /* background: white; */
}

img {
    width: 250px;
    height: auto;
}

div {
    color: white;
}

.title {
    margin-top: 0.5rem;
    line-height: 100px;
    font-size: 2.5rem;
    font-weight: bold;
}

.content {
    max-width: 500px;
    margin-bottom: 2rem;
}

.btn-bg-color {
    background-color: #a7ce34;
    border-color: #a7ce34;
    color: black;
}